#grid-container {
    display: flex;
    border: solid;
    width: 300px;
    height: 300px
}

.column {
    display: flex;
    flex-direction: column;
}

.column,
.square {
    flex: 1;
}

.hovered {
    background-color: blue;
}